@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Rubik:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Root */
:root {
  /* Colors */
  --udevs-blue: #0067F4;
  /* Typohraphy */
  --font-family: "Inter", sans-serif;
  --text-color: #000;
  --font-size: 14px;
}
/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Body styles */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: #DCE9F9;
}